<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>detectProvisioningMode</key>
    <true/>
    <key>developmentAppKey</key>
    <string>Your Development App Key</string>
    <key>developmentAppSecret</key>
    <string>Your Development App Secret</string>
    <key>productionAppKey</key>
    <string>yDFtrudyQbyIW8bcMi89zg</string>
    <key>productionAppSecret</key>
    <string>oM4JutQKRo60RPhfFiX5ug</string>
    
</dict>
</plist>
